.section{
  
  .top-title{
    text-align: center;
  }
  .rec-tournament{
    font-size: 40px;
  }

  .service{
    .rec-slick{
      display: flex;
    }
    .rec-item{
      .text{
        .title{

        }
        .rule{

        }
        .desc{

        }
      }
      .image{

      }
    }
  }
}